<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Volumen de un cilindro</h2>
    <form action="{% url 'volumen:enviar' %}" method="post">
        {% csrf_token %}
        Introduzca el diámetro en metros:
        <input type="number" name="altura" value="altura"><br>
        Introduzca el altura en metros:
        <input type="number" name="diametro" value="diametro"><br>
        <input type="submit" name="submit" value="Calcular">

    </form>
</body>

</html>